<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Boilerplate</title>
 <!-- Link to footer.css in the same directory -->
<link rel="stylesheet" href="/css/style.css"> <!-- Link to any other CSS files -->
</head>
<body>

<%- include("../includes/navbar.ejs") %> <!-- Adjusted include path -->

<main>
  <!-- Your main content goes here -->
  

</main>

<%- include("../includes/footer.ejs") %> <!-- Adjusted include path -->

<script src="/js/script.js"></script>
</body>
</html>
