<% layout('/layouts/boilerplate') -%>

</head>
<body>
<div class="sign-up-form">
  <h2>Sign Up</h2>
  <form action="#" method="post">
    <label for="inGameName">In-Game Name:</label><br>
    <input type="text" id="inGameName" name="inGameName" required><br>
    
    <label for="inGameId">In-Game ID:</label><br>
    <input type="text" id="inGameId" name="inGameId" required><br>
    
    <label for="ProfileImage">Profile Image URL:</label><br>
    <input type="text" id="ProfileImage" name="ProfileImage"><br>
    
    <label for="realName">Real Name:</label><br>
    <input type="text" id="realName" name="realName" required><br>
    
    <label for="age">Age:</label><br>
    <input type="text" id="age" name="age" required><br>
    
    <label for="organisationName">Organisation Name:</label><br>
    <input type="text" id="organisationName" name="organisationName"><br>
    
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    
    <label for="discord">Discord:</label><br>
    <input type="text" id="discord" name="discord"><br>
    
    <label for="instagram">Instagram:</label><br>
    <input type="text" id="instagram" name="instagram"><br>
    
    <label for="youTube">YouTube:</label><br>
    <input type="text" id="youTube" name="youTube"><br>
    
    <label for="about">About:</label><br>
    <textarea id="about" name="about" required></textarea><br>
    
    <button type="submit">Sign Up</button>
  </form>
</div>

</body>
