<% layout('/layouts/boilerplate') -%>
<body>
<div class="sign-up-form">
  <h2>Sign Up</h2>
  <form action="/player/signup" method="POST">

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="player[email]"><br>

    <label for="password">Password</label><br>
    <input type="password" id="password" name="player[password]" required><br>
    
    
    <label for="inGameName">In-Game Name:</label><br>
    <input type="text" id="inGameName" name="player[inGameName]" required><br>
    
    <label for="inGameId">In-Game ID:</label><br>
    <input type="text" id="inGameId" name="player[inGameId]" required><br>
    
    <label for="ProfileImage">Profile Image URL:</label><br>
    <input type="text" id="ProfileImage" name="player[ProfileImage]"><br>
    
    <label for="realName">Real Name:</label><br>
    <input type="text" id="realName" name="player[realName]" required><br>
    
    <label for="age">Age:</label><br>
    <input type="text" id="age" name="player[age]" required><br>
    
    <button type="submit">Sign Up</button>
  </form>
</div>

</body>
